<% form_for @documento do |d| %>

	<%= d.error_messages %>

	<div class="field">
		<%= d.text_area :remetente %>
	</div>
	
	<div class="field">
		<%= d.text_area :assunto %>
	</div>
	
	<div class="field">
		<%= d.text_area :remetente %>
	</div>
	
	<div class="acoes">
		<%= d.submit "Enviar" %>
	</div>

<% end %>