<table class="perfil round ">
	<tr>
		<td class="main round">
			<h2>
				<%= gravatar_for @usuario %>
				<%= h @usuario.nome %>
			</h2>
			
			<% unless @usuario.documentos.empty? %>
				<table class="documentos">
					<%= render @documentos %>
				</table>
				<%= will_paginate @documentos %>
			<% end %>
		</td>
		
		<td class="sidebar">
			<strong>Nome</strong> <%= @usuario.nome %><br />
			<strong>URL</strong> <%= link_to usuario_path(@usuario), usuario_path(@usuario) %>
			<strong>Documentos</strong> <%= @usuario.documentos.count %>
		</td>
	</tr>
</table>